@charset "UTF-8";

body {
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to top, #831d1c, blue);
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}

h1{
    margin-top: 50px;
    font-size: 2.2em;
    color: white;
}

div#mae {
    padding: 10px 6px 6px 6px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgb(50, 50, 50);
}

div#conteudo {
    height: calc(60px - 12px);
    background-color: azure;
    border-radius: 10px;
    margin: 4px 4px 7px 4px;
    border: 2px solid rgba(0, 0, 0);
    font-size: 2.4em;
    text-align: right;
    padding: 6px;
}

td {
    border-radius: 50%;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.733);
    text-align: center;
    height: 56px;
    width: 56px;
    font-size: 1.7em;
    cursor: pointer;
}

td:hover {
    background-color: rgb(30, 30, 30);
    transition-duration: .2s;
}

td:active {
    border: 2px solid white;
}

#zero {
    border-radius: 15px;
}